.timeline {
    max-width: 1100px;
    margin: 300px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline-head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-head .title {
    font-size: 40px;
    font-weight: bold;
  }
  
  .radio-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0 10px;
  }
  
  .radio {
    position: relative;
    width: 20px;
    margin: 0 10px;
    height: 40px;
  }
  
  .radio > label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    margin: auto;
  }
  
  .radio > input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    margin: auto;
  }
  
  .radio-skin {
    height: 100%;
    width: 2px;
    border-radius: 1px;
    background: #ccc;
    transition: all 0.4s ease;
  }
  
  .radio-skin::after {
    transition: all 0.4s ease;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    border: 2px solid transparent;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: -9px;
    top: 22px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-body {
    width: 100%;
  }
  
  .line-anchor::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    right: 3px;
    border: 2px solid #D3D3D3;
    z-index: 2;
  }
  
  .line {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .line-date {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .line-date-tag {
    position: absolute;
    left: -20px;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
  }
  
  .timeline-item {
    display: flex;
    width: 100%;
  }
  
  .timeline-item--hidden {
    display: none;
  }
  
  .timeline-item-entry {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .entry-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .entry-excerpt {
    font-size: 16px;
    line-height: 1.5;
  }
  